<!DOCTYPE html>
<html>
    <head>
        <title>Build-A-Blog</title>
        <style type="text/css">
        .error {
            color:red;
        }
        label {
            display:block;
        }
        textarea{
            width:400px;
            height:200px;
        }
        .postTitle{
            color:blue;
            font-size:20px;
        }

        </style>
    </head>
    <body>
        <h1>
            Build-A-Blog
        </h1>

        {% block content %}
        {% endblock %}

    </body>
</html>
