{% extends "base.html" %}

{% block content %}
<form method="post">
    <label>
        <div>title</div>
        <input type="text" name="title">
    </label>
    <label>
        <div>content</div>
        <textarea name="content">{{content}}</textarea>
    </label>

    <div class="error"><P>{{titleerror}}</P></div>
    <div class="error"><P>{{contenterror}}</P></div>

    <!-- <div class="error">{{error}}</div> -->

    <input type="submit">

</form>

    <hr>

    {% for post in posts %}

        <div class="post">
            <div class="postTitle">{{post.title}}</div>
            <div class="postContent">{{post.content}}</div>
        </div>

    {% endfor %}

    <a href=""

{% endblock %}
